# .NET Core
bin/
obj/
out/
*.user
*.suo
*.sln.docstates
*.csproj.user
*.nupkg
*.snk

# Visual Studio
.vscode/
.idea/
*.vs/

# SQLite Database (include montessori.db)
!Montessori.Api/montessori.db
Montessori.Api/Migrations/*

# Configuration and environment files
appsettings.json
appsettings.Development.json
Montessori.Api/Properties/launchSettings.json

# Environment variables
.env
*.local

# Temporary files
*.log
*.cache
*.pid
*.seed
*.swp

# OS-specific
.DS_Store
Thumbs.db